name: Daily JSON Update

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight

jobs:
  update-json:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt

      - name: Fetch current tcbs
        run: |
          python fetch_tcbs.py > new_tcbs.json

      - name: Compare tcbs
        run: |
          # Check if tcbs.json exists
          if [ ! -f tcbs.json ]; then
            echo "Error: tcbs.json does not exist."
            exit 1
          fi

          if [ ! -f new_tcbs.json ]; then
            echo "Error: tcbs.json does not exist."
            exit 1
          fi

      - name: Check for differences
        id: check_diff
        run: |
          if cmp --silent -- new_tcbs.json tcbs.json; then
            echo "differences=false" >> $GITHUB_ENV
          else
            echo "differences=true" >> $GITHUB_ENV
          fi

      - name: Generate diffs HTML
        if: env.differences == 'true'
        run: |
          mkdir -p diffs
          cdate=$(date +%Y-%m-%d)
          python generate_diff_html.py tcbs.json new_tcbs.json > diffs/${cdate}.html || rm diffs/${cdate}.html # exits with (1) if no changes, in which case remove the file
          mv new_tcbs.json tcbs.json
          python generate_index.py > index.html

      - name: Create Pull Request
        if: env.differences == 'true'
        id: create_pr
        run: |
          cdate=$(date +%Y-%m-%d)
          git config --local user.email "bot@daily.com"
          git config --local user.name "Daily Bot"
          git add tcbs.json
          git add diffs/* || true
          git add index.html
          git commit -m "TCB update ${cdate}"
          git push origin HEAD:main
